<p id="notice"><%= notice %></p>

<p>
  <strong>Server:</strong>
  <%= @bandwidth.server_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @bandwidth.value %>
</p>

<p>
  <strong>Interface name:</strong>
  <%= @bandwidth.interface_name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @bandwidth.value_id %>
</p>

<%= link_to 'Back', server_bandwidths_path %>
